#zhexian .area {
  fill: steelblue;
}
height: 100%;
}
#zhexian  .axis path , .axis line{
	fill: none;
	stroke: red;
	stroke-width:1px;
	shape-rendering: crispEdges;
}
#zhexian .axis text {
font-family: sans-serif;
font-size: 11px;
}
#zhexian .path1  {	fill:none;
	   stroke-width:1px;
	   stroke:red;}
/*//chord图*/
.chord path {
  fill-opacity: 0.67;
  stroke: #000;
  stroke-width: 0.5px;
}
